
    
body {
    font-family: "Poppins", sans-serif;
    background: radial-gradient(#000000, #0f0e0d);
    background-attachment: fixed;
    color: #ccd7db;

}

a {
  color: rgb(138, 148, 153);
}

.header {
  padding: 32px;
  background: linear-gradient(#474747, #3a3a3a);
  text-decoration: underline;
  /* filter: drop-shadow(0     32px 128px  rgb(44, 44, 44)); */ /*TODO May cause black glitches in Firefox?*/
}
p{
  padding: 20%;
  font-size: 200%;
  font-weight: 100;
}
h1{
  font-size: 5em;
  text-align: center; 
  font-weight: 5;   
  text-shadow: 
  0    8px    16px #00000085
}
h2{
  font-size: 3em;
  text-align: center;
  text-shadow: 
  0    0    5px #b1b1b1d2, 
  0    0    128px #0051bb, 
  0    0    128px #006be6d5, 
}
h3{
  font-size: 1.5em;
  text-align: center;
}
