
    
body {
    font-family: "Poppins", sans-serif;
    background: radial-gradient(#000000, #0f0e0d);
    background-attachment: fixed;
    color: #ccd7db;

}

a {
  color: rgb(138, 148, 153);
}

.header {
  padding: 32px;
  background: linear-gradient(#00dee6, #0044ff);
  text-decoration: underline;
  filter:
          drop-shadow(0     0 64px rgb(0, 73, 141))
          drop-shadow(0     0 512px rgba(95, 0, 0, 0.445))
          ;
  /* filter: drop-shadow(0     32px 128px  rgb(44, 44, 44)); */ /*TODO May cause black glitches in Firefox?*/
}
p{
  padding: 20%;
  font-size: 200%;
  font-weight: 100;
}
h1{
  font-size: 5em;
  text-align: center; 
  font-weight: 900;   
  text-shadow: 
  0    0px    4px #0a071f3b;
}
h2{
  padding-top: 20%;
  font-size: 3em;
  text-align: center;
  text-shadow: 
  0    0    5px #b1b1b1d2, 
  0    0    128px #0051bb, 
  0    0    128px #006be6d5, 
}
h3{
  font-size: 1.5em;
  text-align: center;
}
